<ng-template [ngIf]="show">
  <div class="row">
  	<div class="col-md-3 col-sm-4 text-center">
  		<h4> {{ show.name }} </h4>
      <img src="{{ (show.poster_path) ? 'https://image.tmdb.org/t/p/w185' + show.poster_path : 'https://placehold.it/185x278?text=' + show.name }}" class="poster animated"/>
  		<span class="label label-default label-space" *ngFor="let genre of show.genres">{{ genre.name }}</span>
  	</div>
  	<div class="col-md-9 biography">
  		<div>
  			<span class="label label-success" *ngIf="show.first_air_date.length > 0">{{ show.first_air_date | amDateFormat:'DD/MM/YYYY' }} <span *ngIf="show.last_air_date.length > 0"> / {{ show.last_air_date | amDateFormat:'DD/MM/YYYY' }}</span></span>
  			<span class="label label-info" *ngIf="show.vote_average > 0">{{ show.vote_average | number: '1.2-2'}} ({{ show.vote_count }})</span>
  			<span class="label label-primary" *ngIf="show.number_of_seasons > 0">{{ show.number_of_seasons }} temporadas</span>
  			<span class="label label-warning" *ngIf="show.number_of_episodes > 0">{{ show.number_of_episodes }} episodios</span>
  			<span class="label label-default" *ngIf="show.episode_run_time.length > 0">{{ show.episode_run_time[0] }} minutos</span>
  		</div>
  		{{ show.overview }}
  	</div>
  </div>

  <div class="row" *ngIf="show.created_by.length > 0">
    <h4>Creada por</h4>
    <div *ngFor="let person of show.created_by | slice:0:created_by.limit">
  		<div class="col-md-3 col-sm-4 text-center">
  			<a routerLink="/celebritie/{{ person.id }}/{{ person.name | slugify }}">
          <img appImageHover src="{{ (person.profile_path) ? 'https://image.tmdb.org/t/p/w185' + person.profile_path : 'https://placehold.it/185x278?text=' + person.name }}" class="poster" />
  			</a>
  		</div>
  	</div>
  	<a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('created_by')" *ngIf="!created_by.hide_button">Cargar más...</div>
    </a>
  </div>

  <app-media-list media="tvshow" type="crew" [data]="show.credits.crew"></app-media-list>

  <app-media-list media="tvshow" type="cast" [data]="show.credits.cast"></app-media-list>

  <div class="row" *ngIf="show.seasons.length > 0">
  	<h4>Temporadas</h4>
  	<div *ngFor="let season of show.seasons  | slice:0:seasons.limit">
  		<div class="col-md-3 col-sm-4 text-center">
  			<a routerLink="/season/{{ show.id }}/{{ show.name | slugify }}-season-{{ season.season_number }}">
          <img appImageHover src="{{ (season.poster_path) ? 'https://image.tmdb.org/t/p/w185' + season.poster_path : 'https://placehold.it/185x278?text=' + show.name }}" class="poster" />
  			</a>
  		</div>
  	</div>
  	<a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('seasons')" *ngIf="!seasons.hide_button">Cargar más...</div>
    </a>
  </div>
</ng-template>

<app-loading [waiting]="!show"></app-loading>
