<ng-template [ngIf]="search">
  <h4>Buscando {{ search_term }}...</h4>
  <div class="row text-center">
    <ng-template [ngIf]="search.results.length > 0">
      <div class="col-md-3 col-sm-4" *ngFor="let result of search.results">
        <a routerLink="/{{ (result.media_type === 'movie') ? 'movie' : (result.media_type === 'tv') ? 'tvshow' : 'celebritie' }}/{{ result.id }}/{{ (result.name ? result.name : result.title) | slugify }}">
          <img appImageHover src="{{ (!result.poster_path && !result.profile_path) ? 'https://placehold.it/185x278?text=' + (result.name ? result.name : result.title) : 'https://image.tmdb.org/t/p/w185' + (result.poster_path ? result.poster_path : result.profile_path) }}" class="poster animated"/>
        </a>
      </div>
    </ng-template>
    <span *ngIf="search.results.length === 0">No se han encontrado resultados para {{ search_term }}</span>
  </div>
</ng-template>

<app-loading [waiting]="!search"></app-loading>
