<ng-template [ngIf]="movie">
  <div class="row">
  	<div class="col-md-3 col-sm-4 text-center">
  		<h4>{{ movie.title }}</h4>
      <img appImageHover src="{{ (movie.poster_path) ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path : 'https://placehold.it/185x278?text=' + movie.title }}" class="poster animated"/>
  		<span class="label label-default label-space" *ngFor="let genre of movie.genres">{{ genre.name }}</span>
  	</div>
    <div class="col-md-9 biography">
  		<div>
  			<span class="label label-success" *ngIf="movie.release_date.length > 0">{{ movie.release_date | amDateFormat:'DD/MM/YYYY' }}</span>
  			<span class="label label-info" *ngIf="movie.vote_average > 0">{{ movie.vote_average | number: '1.2-2'}} ({{ movie.vote_count }})</span>
        <ng-template [ngIf]="movie.belongs_to_collection !== null">
          <a routerLink="/collection/{{ movie.belongs_to_collection.id }}/{{ movie.belongs_to_collection.name | slugify }}">
            <span class="label label-primary" *ngIf="movie.belongs_to_collection">{{ movie.belongs_to_collection.name }}</span>
          </a>
        </ng-template>
  		</div>
  		{{ movie.overview }}
  	</div>
  </div>

  <div class="row" *ngIf="movie.credits.crew.length > 0">
  	<h4>Producción</h4>
  	<div *ngFor="let person of movie.credits.crew | slice:0:crew.limit">
      <div class="col-md-3 col-sm-4 text-center">
  			<a routerLink="/celebritie/{{ person.id }}/{{ person.name | slugify }}">
          <img appImageHover src="{{ (person.profile_path) ? 'https://image.tmdb.org/t/p/w185' + person.profile_path : 'https://placehold.it/185x278?text=' + person.name }}" class="poster" />
  			</a>
  		</div>
  	</div>
  	<a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('crew')" *ngIf="!crew.hide_button">Cargar más...</div>
    </a>
  </div>

  <div class="row" *ngIf="movie.credits.cast.length > 0">
  	<h4>Reparto</h4>
  	<div *ngFor="let person of movie.credits.cast | slice:0:cast.limit ">
  		<div class="col-md-3 col-sm-4 text-center">
  			<a routerLink="/celebritie/{{ person.id }}/{{ person.name | slugify }}">
          <img appImageHover src="{{ (person.profile_path) ? 'https://image.tmdb.org/t/p/w185' + person.profile_path : 'https://placehold.it/185x278?text=' + person.name }}" class="poster" />
  			</a>
  		</div>
  	</div>
  	<a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('cast')" *ngIf="!cast.hide_button">Cargar más...</div>
    </a>
  </div>

  <div class="row" *ngIf="movie.images.backdrops.length > 0">
  	<h4>Imágenes</h4>
  	<div class="col-md-3 col-sm-4" *ngFor="let image of movie.images.backdrops | slice:0:images.limit">
  		<a class="pointer" (click)="openModal('https://image.tmdb.org/t/p/w1280' + image.file_path, true)">
        <img src="{{ 'https://image.tmdb.org/t/p/w1280' + image.file_path }}" class="img-responsive img-space"/>
      </a>
  	</div>
  	<a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('images')" *ngIf="!images.hide_button">Cargar más...</div>
    </a>
  </div>

  <div class="row" *ngIf="movie.videos.results.length > 0">
    <h4>Videos</h4>
    <div class="col-md-6 vid-space" *ngFor="let video of movie.videos.results | slice:0:videos.limit">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]="video.url" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <a class="pointer">
      <div class="btn btn-primary form-control text-center" (click)="loadMore('videos')" *ngIf="!videos.hide_button">Cargar más...</div>
    </a>
  </div>

  <span defaultOverlayTarget></span>
</ng-template>

<div class="text-center after-nav" *ngIf="!movie">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
